<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>moonfruit.sing-bypass</string>
	<key>ProgramArguments</key>
	<array>
		<string>/etc/sing-router/bypass-agent.sh</string>
	</array>
	<key>EnvironmentVariables</key>
	<dict>
		<key>BYPASS_AGENT_CONF</key>
		<string>/etc/sing-router/bypass-agent.conf</string>
	</dict>
	<key>RunAtLoad</key>
	<true/>
	<key>StartInterval</key>
	<integer>30</integer>
	<key>WatchPaths</key>
	<array>
		<string>/etc/resolv.conf</string>
		<string>/Library/Preferences/SystemConfiguration/</string>
	</array>
	<key>StandardOutPath</key>
	<string>/var/log/moonfruit.sing-bypass.log</string>
	<key>StandardErrorPath</key>
	<string>/var/log/moonfruit.sing-bypass.log</string>
</dict>
</plist>
